<header>
  <!-- Fixed navbar -->
  <!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">BookStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/">Admin <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/addnewuser">Add/Remove a New User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addnewbook">Add/Remove a New BooK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addnewplace">Add/Remove a New Place</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rentedbooks">Timings of Rented Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Logout">Logout</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/about" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/about/dev1">Group Member 1</a>
              <a class="dropdown-item" href="/about/dev2">Group Member 2</a>
              <a class="dropdown-item" href="/about/dev3">Group Member 3</a>
          </div>
        </li> -->

      </ul>
    </div>
  </nav>
</header>
